REDIS_URL=redis://localhost:6379/0
COMFY_API_BASE=http://127.0.0.1:8188
COMFY_WS_URL=ws://127.0.0.1:8188/ws
AUTH_TOKEN=your_secure_token_here
COMFY_INPUT_DIR=/home/ubantu/comfyui/input
COMFY_OUTPUT_DIR=/home/ubantu/comfyui/output
WORKFLOWS_DIR=/home/ubantu/backend/workflows
